$blue-000:    #F7FFFF;
$blue-100:    #DFF7F6;
$blue-200:    #85D2DC;
$blue-300:    #4BBCD7;
$blue-400:    #1FADC9;
$blue-500:    #00a2c2;
$blue-600:    #009FBF;
$blue-700:    #00819C;
$blue-800:    #326CAF;

$yellow-100:  #FFFFE3;
$yellow-200:  #FFF0B8;
$yellow-300:  #FFE973;
$yellow-400:  #FFDE63;

$gray-100:    #BDBDBD;
$gray-200:    #9E9E9E;
$gray-300:    #828282;

$green-100:   #27AE60;
$green-200:   #219653;
$orange:      #F2994A;
$red:         #EB5757;

$white:       #ffffff;
$black-100:   #4f4f4f;
$black-200:   #333333;
$black-300:   #000000;